youngnebula.com {
	tls {
		dns cloudflare {env.YOUNGNEBULA_COM_CF_API_TOKEN}
	}
	reverse_proxy genjishimada-web:8080
}
*.youngnebula.com {
	tls {
		dns cloudflare {env.YOUNGNEBULA_COM_CF_API_TOKEN}
	}

	@api host api.youngnebula.com
	handle @api {
		reverse_proxy genjishimada-api:8000
	}

	@testapi host testapi.youngnebula.com
	handle @api {
	    reverse_proxy genjishimada-api-test:8000
	}
}
